# Ignore dataset folder
data/

# Ignore notebook checkpoints
notebooks/.ipynb_checkpoints/

# Ignore MLflow runs folder
notebooks/mlruns/

# Keep main model for Streamlit
!notebooks/best_model.pkl

# Ignore Mac OS files
*.DS_Store

# Ignore Python cache
__pycache__/

# Optional: ignore virtual environments
venv/
.env

# Ignore logs
*.log

