# Ignore dataset folder
data/

# Ignore large model files
notebooks/best_model.pkl

# Ignore notebook checkpoints
notebooks/.ipynb_checkpoints/

# Ignore Mac OS files
*.DS_Store

# Ignore MLflow runs folder
notebooks/mlruns/

# Ignore Python cache
__pycache__/

